<a href="javascript://" class="remove"><i class="icon-remove"></i></a>
<form>
	<div class="row">
		<div class="span2">
			<img src="img/contact.png" width="100" height="100">
		</div>
		<div class="span3">
			<input type="text" name="name" placeholder="Add Name" <%= contact.attr( 'name') ? "value='" + contact.name + "'" :
				"class='empty'" %>>
				<select name="category">
				<% $.each(categories, function(i, category){ %>
					<option value="<%= category.data %>" <%= contact.category === category.data ? "selected" : "" %>>
						<%= category.name %>
					</option>
				<% }) %>
			</select>
		</div>
		<div class="span3">
			<label>Address</label>
			<input type="text" name="address" <%= contact.attr( 'address') ? "value='" + contact.address + "'" : "class='empty'" %>>
			<label>Phone</label>
			<input type="text" name="phone" <%= contact.attr( 'phone') ? "value='" + contact.phone + "'" : "class='empty'" %>>
			<label>Email</label>
			<input type="text" name="email" <%= contact.attr( 'email') ? "value='" + contact.email + "'" : "class='empty'" %>>
		</div>
	</div>
</form>