<li class="nav-header">Shit that has to be done!</li>
<% this.each(function(todo) { %>
    <li <%= (el) -> el.data('todo', todo) %> >
        <a href="javascript://" class="destroy" style="display: inline-block; padding: 3px 3px; float: right;"><i class="icon-remove"></i></a>
        <%= todo.attr('name') %>
    </li>
<% }) %>